<ion-view view-title="Rank">
  <ion-content>
      <div class="card">
  <div class="item item-divider" style="text-align:center">
    Kullanıcı Adınız : {{username}}
  </div>
  <div class="item item-text-wrap" style="text-align:center">
    Son Skorunuz : {{lastScore}}
  </div>
  <div class="item item-text-wrap" style="text-align:center">
   En yüksek skorunuz : {{score}}
  </div>
  <div class="item item-divider">
    <button class="button button-block button-balanced" ng-click="goHome()" >Anasayfa</button>
  </div>
</div>
  </ion-content>
</ion-view>
